<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vnnet.newscommon.persistence.SysArticleMapper">
  <resultMap id="BaseResultMap" type="com.vnnet.newscommon.model.SysArticle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="NVARCHAR" property="title" />
    <result column="content" jdbcType="NVARCHAR" property="content" />
    <result column="image_url" jdbcType="NVARCHAR" property="imageUrl" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="is_published" jdbcType="BIT" property="isPublished" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, content, image_url, created_at, updated_at, category_id, author_id, is_published
  </sql>
  <select id="selectByExample" parameterType="com.vnnet.newscommon.model.SysArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from articles
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from articles
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vnnet.newscommon.model.SysArticleExample">
    delete from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.vnnet.newscommon.model.SysArticle" useGeneratedKeys="true">
    insert into articles (title, content, image_url, 
      created_at, updated_at, category_id, 
      author_id, is_published)
    values (#{title,jdbcType=NVARCHAR}, #{content,jdbcType=NVARCHAR}, #{imageUrl,jdbcType=NVARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{categoryId,jdbcType=INTEGER}, 
      #{authorId,jdbcType=INTEGER}, #{isPublished,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.vnnet.newscommon.model.SysArticle" useGeneratedKeys="true">
    insert into articles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="isPublished != null">
        is_published,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=NVARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="isPublished != null">
        #{isPublished,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vnnet.newscommon.model.SysArticleExample" resultType="java.lang.Long">
    select count(*) from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update articles
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=NVARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=NVARCHAR},
      </if>
      <if test="record.imageUrl != null">
        image_url = #{record.imageUrl,jdbcType=NVARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.authorId != null">
        author_id = #{record.authorId,jdbcType=INTEGER},
      </if>
      <if test="record.isPublished != null">
        is_published = #{record.isPublished,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update articles
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=NVARCHAR},
      content = #{record.content,jdbcType=NVARCHAR},
      image_url = #{record.imageUrl,jdbcType=NVARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      author_id = #{record.authorId,jdbcType=INTEGER},
      is_published = #{record.isPublished,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vnnet.newscommon.model.SysArticle">
    update articles
    <set>
      <if test="title != null">
        title = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=NVARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="isPublished != null">
        is_published = #{isPublished,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vnnet.newscommon.model.SysArticle">
    update articles
    set title = #{title,jdbcType=NVARCHAR},
      content = #{content,jdbcType=NVARCHAR},
      image_url = #{imageUrl,jdbcType=NVARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      category_id = #{categoryId,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      is_published = #{isPublished,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>